.home {
  position: relative;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}

.home-container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home-data {
  text-align: center;
}

.home-subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.home-title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home-description {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home-cards {
  grid-template-columns: 240px;
  justify-content: center;
}

.home-card {
  position: relative;
  overflow: hidden;
}

.home-card-img {
  transition: transform .4s;
}

.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0,0%,0%,0) 50%, hsl(0,0%,0%) 125%);
}

.home-card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home-card:hover .home-card-img {
  transform: scale(1.2);
}